header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #212121;
  font-size: 20px;
}

input {
  border-radius: 5px;
  border: 1px solid #EDF2F9;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

textarea:focus, input:focus{
  outline: none;
  border-color: #2C7BE5;
}

.header {
  background-color: white;
  border-bottom: 1px solid #EDF2F9;
  position: fixed;
  width: 100%;
  top: 0;
  
}

.icon {
  margin-right: 10px;
}